# Week 12 Group Activity

In [1]:
import pandas as pd
import numpy as np
import time

##### 1. Write a lambda function to rearrange positive and negative numbers in a given list

#### Sample output:
#### original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
#### resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [2]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

pos_result = list(filter(lambda x: x > 0, original_list)) 
neg_result = list(filter(lambda x: x < 0, sorted(original_list)))

resulting_list = pos_result + neg_result
print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

##### 2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [3]:
temp = pd.read_csv('temperature.csv', index_col='datetime', parse_dates=True)
temp_denver = temp['Denver']
temp_denver.columns=['Denver']

denver_df=pd.DataFrame(temp_denver)
denver_df.head()

                         Denver
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  284.610000
2012-10-01 14:00:00  284.607305
2012-10-01 15:00:00  284.599918
2012-10-01 16:00:00  284.592530

In [5]:
start_time = time.perf_counter()
denver_df = denver_df.assign(is_freezing = lambda x: x <= 273.15)
end_time = time.perf_counter()
print(end_time - start_time)

0.0021591999999994727

In [6]:
denver_df.tail(20)

                     Denver  is_freezing
datetime
2017-11-29 05:00:00  273.59        False
2017-11-29 06:00:00  273.25        False
2017-11-29 07:00:00  273.06         True
2017-11-29 08:00:00  272.87         True
2017-11-29 09:00:00  272.76         True
2017-11-29 10:00:00  271.96         True
2017-11-29 11:00:00  271.56         True
2017-11-29 12:00:00  271.56         True
2017-11-29 13:00:00  272.06         True
2017-11-29 14:00:00  273.37        False
2017-11-29 15:00:00  273.77        False
2017-11-29 16:00:00  275.07        False
2017-11-29 17:00:00  276.76        False
2017-11-29 18:00:00  283.16        False
2017-11-29 19:00:00  286.72        False
2017-11-29 20:00:00  289.56        False
2017-11-29 21:00:00  290.70        False
2017-11-29 22:00:00  289.71        False
2017-11-29 23:00:00  289.17        False
2017-11-30 00:00:00  285.18        False

In [7]:
start_time2 = time.perf_counter()
denver_df['is_freezing2'] = np.where(denver_df['Denver']<=273.15,True,False)
end_time2 = time.perf_counter()
print(end_time2 - start_time2)

0.0036731000000003178

In [8]:
denver_df.tail(20)

                     Denver  is_freezing  is_freezing2
datetime
2017-11-29 05:00:00  273.59        False         False
2017-11-29 06:00:00  273.25        False         False
2017-11-29 07:00:00  273.06         True          True
2017-11-29 08:00:00  272.87         True          True
2017-11-29 09:00:00  272.76         True          True
2017-11-29 10:00:00  271.96         True          True
2017-11-29 11:00:00  271.56         True          True
2017-11-29 12:00:00  271.56         True          True
2017-11-29 13:00:00  272.06         True          True
2017-11-29 14:00:00  273.37        False         False
2017-11-29 15:00:00  273.77        False         False
2017-11-29 16:00:00  275.07        False         False
2017-11-29 17:00:00  276.76        False         False
2017-11-29 18:00:00  283.16        False         False
2017-11-29 19:00:00  286.72        False         False
2017-11-29 20:00:00  289.56        False         False
2017-11-29 21:00:00  290.70        False         False
2017-11-29 22:00:00  289.71        False         False
2017-11-29 23:00:00  289.17        False         False
2017-11-30 00:00:00  285.18        False         False

With regard to the time efficiency of this lambda function, Abbie ran some code using np.where that was just slightly faster than our original lambda-infused code.  So that would imply that lambda is not the best option here.

However, I ran essentially the same code here, and the lambda code was marginally faster than the np.where code.  

In my opinion, it's still debatable as to which is faster.

##### 3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.